<!DOCTYPE html>
<html>
  <head>
    <title>Practice -- Learn to code more happy !</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/navigator' %>
    <main role="main">
      <% if notice %>
        <div id="alert" class="alert alert-info navbar-fixed-top" role="alert"><%= notice %></div>
      <% elsif alert %>
        <div id="alert" class="alert alert-warning navbar-fixed-top" role="alert"><%= alert %></div>
      <% end%>
      <%= yield %>
    </main>
    <%= render partial: 'shared/footer'%>
  </body>
</html>
